[Unit]
Description=My {{APP_NAME}}
After=network-online.target

[Service]
Type=simple
User={{APP_NAME}}
ExecStart=/opt/{{APP_NAME}}/.venv/bin/flask run --host 0.0.0.0 --port 8080
Restart=always
WorkingDirectory=/opt/{{APP_NAME}}

[Install]
WantedBy=multi-user.target
